.main {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.heading {
  width: 100vw;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.title {
  margin-bottom: .3rem;
  line-height: 1.15;
  font-size: 3rem;
}

@media (max-width: 800px) {
  .heading {
    justify-content: space-between;
    padding: 2em;
    padding-top: 0;
  }
}

.options {
  align-self: flex-end;
  width: 100vw;
  flex: 1;
  backdrop-filter: blur(12px);
  background-color: rgba(228, 235, 245, .85);
  transition: all .3s;
}

.intensitySlider {
  width: 100%;
  color: rgba(0, 0, 0, 0.93);
  height: 45px;
  border-radius: 60px;
  background-color: #e4ebf5;
  box-shadow: inset -1px -1px 3px #fff,
    inset 1px 1px 3px #bec8e4;
  border-top-color: rgb(46, 52, 64);
  border-color: rgb(46, 52, 64);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.intensitySlider::-moz-range-progress {
  transition: all 0.3s ease;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.3);
  ;
  box-shadow: rgb(190, 200, 228) 1px 1px 2px 0px,
    rgb(255, 255, 255) -1px -1px 2px 0px;
  color: rgb(46, 52, 64);
  border-radius: 60px;
}

.intensitySlider.lit::-moz-range-progress {
  background-color: #3B4252;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .intensitySlider {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: transparent;
  }

  .intensitySlider::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }

  .intensitySlider::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    height: 20px;
    border-radius: 60px;
    cursor: ew-resize;
    background-color: white; 
    box-shadow: -10000px 0 0 10000px #3B4252,
      rgb(190, 200, 228) 1px 1px 2px 0px;
  }
}

.intensitySlider::-moz-range-thumb {
  opacity: 0;
}

.intensity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4c566a;
}

.intensity > *:not(input) {
  padding: .5em;
}

.colorDots{
  padding-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
